body{
    margin: 0;
}

body > header{
    background-image: url("/Assets/img/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body > header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body > header > nav > img{
    width: 20%;
    display: flex;
}

body > header > nav > label > i {
    font-size: 3vw;
    text-shadow: 0px 0px 15px white;
    border-radius: 10%;
    margin: 10% 0 0 12vw;
    transition: all 400ms;
}

body > header > nav > label > i:hover{
    transform: scale(1.2);
    background-color: rgba(165, 0, 0, 0.1);
    border-radius: 15%;
}

#Oculto_Id{
    display: inline-flex;
    opacity: 1;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(198,13,4,0.8), rgba(198,13,4,1));
    width: 80%;
    padding-bottom: 2%;
    height: auto;
    justify-content: space-around;
    text-align: center;
    left: 10%;
    transition: all 350ms ease-in-out;
}

.Oculto{
    display: none;
}

.Oculto .Columna p{
    font-size: 3vw;
    font-style: italic;
    text-shadow: 2px 1px 10px #ffd700;
}

.Oculto .Columna ol li{
    list-style-type: upper-roman;
    font-size: 2vw;
    margin: 10% 2%;
    text-align: left;
    color: #F6FF39;
    text-shadow: 10px 5px 18px black;
}

.Desaparecer{
    display: none;
    visibility: inherit;
}

.Inicio{
    margin: 10% 12vw 0 12vw;
    padding: 0 0 12vw 0;
    color: white;
    font-size: 1.9vw;
    text-shadow: 2px 0px 6px red;
    transition: all 600ms;
}

body > main{
    /* margin: 10% 12vw 0 12vw; */
    font-size: 2.5vw;
}
.cajadivs{
    background: #05676e; /*solo puse este color para identificar el div*/
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 5%;
    margin: -0.5% 0 0 0;
}

.cajadivs > h3{
    margin: 0 20% 5% 20%;
}

.div1{
    position: relative;
    background: #14999e;
    color: white;
    font-size: 1.6vw;
    width: 25%;
    border-radius: 8%;
}
.div2{
    position: relative;
    background: #14999e;
    color: white;
    font-size: 1.6vw;
    width: 25%;
    border-radius: 8%;
}
.div3{
    position: relative;
    background: #14999e;
    color: white;
    font-size: 1.6vw;
    width: 25%;
    padding-bottom: 10%;
    border-radius: 8%;
}

.Opacidad_Aside{
    opacity: 0.3;
}

aside{
    position: absolute;
    right: 0;
    top: 100%;
    background-color: aliceblue;
    width: 10%;
    height: auto;
    opacity: 1;
    transition: opacity 600ms;
}

aside > p{
    margin: 1% 0;
}

aside > .Superior{
    font-size: 1vw;
}

aside > .Inferior{
    font-size: 0.8vw;
}

aside > .anuncio{
    width: 90%;
    height: 90%;
}

.titulo{
    color: black;
}

.pingui{
    width: 25%;
    height: 23%;
    bottom: 2%;
    left: 40%;
    position: absolute;
}

footer{
    background-image: url("../Assets/img/fondo-nombres.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.logo{
    position: relative;
    left: 0;
    height: auto;
    width: 15%;
    margin: 0 5%;
}

footer > .Logo-Texto{
    display: flex;
    align-items: center;
    color: antiquewhite;
    font-size: 1vw;
}


.nombres{
    color: aliceblue;
    text-align: center;
    font-size: 1.2vw;
}

.Redes{
    color: aliceblue;
    font-size: 1.2vw;
}

.Redes > a{
    font-size: 2vw;
    display: inline-flex;
    margin: 0 6%;
}

a:link {
    text-decoration: none;
    color: aliceblue
  }
  
  a:visited {
    text-decoration: none;
    color: aliceblue
  }
  
  a:hover {
    text-decoration: none;
    color: aliceblue
  }
  
  a:active {
    text-decoration: none;
    color:antiquewhite;
  }
